div.entry-list-wrapper {
  width: 100%;
}

div.entry-list-wrapper div.switch-arrow {
  width: 100%;
  height: 51px;
  margin-left: 5%;
  margin-top: -51px;
  display: flex;
  padding-right: 30px;
}

div.switch-arrow button.btn-back {
  display: none;
  height: 35px;
  width: 67px;
  padding: 0px 10px;
  margin-top: 7px;
  border: none;
  color: #fff;
  background: rgba(29,43,73,0.7);
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 4px; 
  letter-spacing: 1px;
  font-family: times;
  outline: none;
  box-shadow: 0 0 14px #555;
}

div.switch-arrow button.btn-back:hover {
  opacity: 0.9;
}

div.entry-list-wrapper div.list-entry {
  height: 100%;
  position: relative;
}

div.list-entry aside.aside-bar {
  width: 300px;
  height: 100%;
  margin-right: 5px;
  margin-left: 20px;
  box-shadow: 0 0 9px #505860;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}

aside.aside-bar div.show-action {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

div.show-action div._center {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin: auto;
}

aside.aside-bar ul.list-wrapper {
  list-style: none;
  background: #3E454E;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

aside.aside-bar ul.list-wrapper::-webkit-scrollbar {
  width: 10px;
}

aside.aside-bar ul.list-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

aside.aside-bar ul.list-wrapper::-webkit-scrollbar-thumb {
  background: #888; 
}

aside.aside-bar ul.list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

ul.list-wrapper li.list:first-child{
  margin-top: 0px;
}

ul.list-wrapper li.list:last-child {
  margin-bottom: 0px;
}

ul.list-wrapper li.list {
  padding: 3px;
  cursor: pointer;
  background: #505860;
  margin: 2px 0px;
  position: relative;
  padding-left: 24px;
  height: 50px;
  transition: all 0.3s;
  font-family: times;
  letter-spacing: 0.5px;
}

ul.list-wrapper li.list.selected {
  background: #0098D8;
}

ul.list-wrapper li.list:hover {
  background: #65707F;
}

ul.list-wrapper li.list.selected:hover {
  background: #0098D8;
}

li.list span.list-icon {
  position: absolute;
  font-size: 17px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

li.list div.title {
  font-size: 15px;
  height: 26px;
  padding: 6px 0px;
  color: #fff;
  overflow: hidden;
  position: absolute;
  left: 23px;
  width: 212px;
  top: 46%;
  transform: translateY(-50%);
  letter-spacing: 0.1px;
  font-weight: 500;
}

li.list:hover span.list-icon,
li.list:hover div.date,
li.list:hover div.title{
  color: #fff !important;
}

li.list.selected:hover span.list-icon,
li.list.selected:hover div.date,
li.list.selected:hover div.title{
  color: #fff !important;
}

li.list div.date {
  font-size: 9px;
  font-weight: 600;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0.9px;
  text-align: right;
  color: #eee;
}

div.list-entry div.entry-body {
  width: 70%;
  min-width: 300px;
}

div.entry-body div.title {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 600;
  color: #444;
  line-height: 2.2;
  height: 50px;
  overflow: hidden;
}

div.entry-body div.content {
  height: calc(100% - 130px);
  margin: 15px 0px;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #444;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}


div.entry-body div.btm-content {
  border-top: 1px solid #ccc;
  height: 50px;
  line-height: 3;
  justify-content: space-between;
}

div.btm-content button.btn-edit {
  margin-top: 9px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  background: #316CBE;
  transition: all 0.4s;
  max-height: 33px;
}

button.btn-edit a {
  color:  #fff;
  display: block;
  text-decoration: none;
  padding: 0px 13px;
  height: 33px;
  line-height: 2.2;
}

div.btm-content button.btn-edit:hover {
  opacity: 0.8;
}

div.btm-content div.date {
  color: #777;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}



@media (max-width: 605px){

  div.list-entry aside.aside-bar {
    margin-left: 9px;
    position: absolute;
    z-index: 10;
  }

  div.list-entry aside.mobile-aside {
    width: 0px;
    min-width: 0px;
    padding: 0px;
    overflow: hidden;
  }

  div.switch-arrow button.btn-back {
    display: block;
  }

  div.list-entry div.entry-body {
    width: 90%;
  }


}
