
button.hide,
div.hide{
  display: none !important;
}

div.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  z-index: 100;
}

div.modal div.modal-content {
  margin: auto;
  min-width: 300px;
  width: 30%;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

div.modal-content header.modal-header {
  width: 100%;
  background: #234C85;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  position: relative;
  font-family: times;
}

header.modal-header span.close-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

div.modal-content div.modal-body {
  padding: 10px;
}

div.modal-body form {
  width: 100%;
  height: 100%;
}

div.modal-body div.well {
  border: 1px solid #ccc;
  padding: 11px;
  border-radius: 5px;
  background: #eee;
  padding-top: 12px;
}

div.well table,
div.well tbody{
  display: block;
  position: relative;
  top: 4px;
}

div.well table tr {
  margin: 3px 0px;
  display: flex;
}

div.well table tr td:nth-child(2){
  flex: 1;
}


div.well table tr td:first-child{
  width: 103px;
}

div.well table tr td.reminder {
  width: 124px;
}

div.well table tr td span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-right: 5px;
}

div.well table tr td span.label {
  text-align: right;
  color: #555;
}

div.well table tr td input.input {
  font-size: 15px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 3px;
  font-weight: 600;
  color: #555;
  position: relative;
  top: -9px;
  letter-spacing: 0.7px;
  padding-left: 10px;
  width: 100%;
}

div.well table tr td input.time {
  padding: 5px; 
}

div.well table tr td input.input::-webkit-input-placeholder {
  color: #ccc;
}


div.modal-body div.top-section {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 11px;
  border-bottom: 1px solid #bbb
}

div.modal-body div.mid-section {
  margin-top: 11px;
}

div.modal-body div.lower-section {
  padding: 10px 0px;
  font-size: 17px;
  font-weight: 600;
}

div.lower-section input.input {
  font-size: 16px;
  margin-left: 12px;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 2px;
}

div.lower-section select.dropdown {
  font-size: 14px;
  font-weight: 600;
  padding: 2px 6px;
  margin: 0 6px;
}

div.modal-body div.ctrl-btns {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

div.ctrl-btns button.btn {
  color: #fff;
  padding: 8px 10px;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  width: 67px;
}

div.ctrl-btns button.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

div.ctrl-btns button.btn.btn-cancel {
  background: #000;
}

div.ctrl-btns button.btn.btn-save {
  background: #CD0707;
}




